
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}

.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
  text-decoration: none;
}

.navbar a:hover {
  color: #ffffff;
}

.circle {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    background: green;
}
.layer {
    width: 300px; 
    background: #fc0; 
    height: 50px; 
}
body {
    background-color: #98FB98;
    margin: 0;
    font-family: 'Times New Roman';
}
header {
    font-size: 50px;
    color: maroon;
}
.style{
    max-width:800px; 
    background-color:#ccc; 
    margin: 0 auto; 
    margin-top:20px; 
    padding:10px;}
.stylehp {
    width:100%;
    background-color:#ccc; 
    height:120px;
}

table {
    border: 1px;
    max-width:800px;
    background-color:#660099;
    margin: auto; 
    margin-top:20px; 
    padding:10px;
}

table tr:nth-child(2n) td {
    background: #9966FF;
}

table tr:nth-child(2n+1) td{ 
    background: #9999FF; 

}
